body {
    height: 100%;
    position: relative;
}
.divContainer{
    height: 100vh;
    padding-bottom:60px;
}
.navbar{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: transparent;
    border-color:transparent;
}
.homeNavbar{
    position: fixed;
    width: 100%;
    background-color: transparent;
    border-color:transparent;
}
.navbarLog{
    color: dimgrey;
}
.navbarLog p{
    float: left;
    padding-top: 6px;
    padding-right: 6px;
}
.carousel {
    width:100%;
    height:520px;
    padding: 0;
    margin: 0;
}
.carousel h3{
    font-size: 40px;
    color: ghostwhite;
    text-shadow: 2px 2px black;
}
.carousel p{
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px black;
}
.carouselContainer{
    display: flex;
    width: 100%;
    height:520px;
}
.carouselContainer img{
    max-width: 100%;
    margin:auto;
}
.footer{
    color: lightslategrey;
    height: 200px;
    background-color: lightsteelblue;

    /*Keep it down*/
    position: relative;
    bottom: 0;
    width: 100%;

    /* For center content */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*SECTION ONE*/
.sectionOne{
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 50px;
    text-align: center;
    color: lightslategrey;
}
.sectionOne section{
    width: 100%;
    min-width: 0;
    /*height: fit-content;*/
    padding: 10px;
    height: fit-content;
    align-content: center;
}
.subSection{
    height: 100vh;
    display: flex;
    align-items: center
}
.pageHeader{
    color: darkgrey;
    padding-left: 5%;
}
.sectionHeader{
    color: darkgrey;
    padding-top: 2%;
    padding-left: 5%;
    text-align: center;
}
.sectionContent{
    color: grey;
    padding: 20%;
    text-align: center;
}
.logForm{
    color: darkgrey;
}
.formBtn1{
    color: white;
    background-color: lightsteelblue;
}
.formBtn2{
    color: darkgrey;
}
.searchResults{
    padding-left: 5%;
    padding-right: 5%;
}
.cardImg{
    width:100%;
    border-radius:2px 2px 0px 0px;
}