body {
    height: 100%;
    position: relative;
    font-family: 'Lato', sans-serif;
    background-color: whitesmoke;
}

.overlay {
    position: absolute;
    margin-left: 45vw;
    padding: 0;
    color: whitesmoke;
}
.divContainer{
    min-height: 100vh;
    padding-bottom:6em;
    margin: 1em;
}

.navbar{
    margin: 0;
    padding: 0;
    border-radius: 0;
    width: 100%;
    max-height: 2em;
    font-size: 1em;
    background-color: transparent;
    border-color: transparent;
}
.loginNavbar{
    background: rgba(10,42,79,0.8);  /* Main blue */
}
.homeNavbar{
    position: inherit;
    width: 100%;
    background-color: transparent;
    border-color:transparent;
}
.navbarLog{
    color: whitesmoke;
    margin: 0;
    padding: 0;
}
.navbarLog p{
    float: left;
}
.carousel {
    width:100%;
    height:52em;
    padding: 0;
    margin: 0;
}
.carousel h3{
    font-size: 40px;
    color: ghostwhite;
    text-shadow: 2px 2px black;
}
.carousel p{
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px black;
}
.carouselContainer{
    display: flex;
    width: 100%;
    height:52em;
}
.carouselContainer img{
    max-width: 100%;
    margin:auto;
}
.footer{
    color: whitesmoke;
    height: 20em;
    background-color: rgba(10,42,79,0.8);

    /*Keep it down*/
    position: relative;
    bottom: 0;
    width: 100%;

    /* For center content */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.lastFooterFoot{
    flex-direction: column;
}
.footerDiv{
    margin-left: 5%;
    min-height: 12em;
    height: auto;
    width: auto;
    color: whitesmoke;
    align-items: center;

}
.subFooter{
    color: whitesmoke;
}
.footerDiv a{
    color: darkgrey;
}
.footerDiv a:hover{
    color: lightgrey;
}

/*SECTION ONE*/
.sectionOne{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px;
    text-align: center;
    color: lightslategrey;
}
.sectionOne section{
    width: 100%;
    max-width: 28em;
    /*height: fit-content;*/
    padding: 1em;
    height: fit-content;
    align-content: center;
}
.subSection{
    height: 100vh;
    display: flex;
    width: 50vw;
    margin-top: 0;
    margin-left: 5em;
    align-items: center;
}
.pageHeader{
    color: rgba(10,42,79,0.8);
    padding-left: 5%;
}
.subPageHeader{
    color: rgba(10,42,79,0.7);
}
.sectionHeader{
    color: darkgrey;
    padding-top: 2%;
    padding-left: 5%;
    text-align: center;
}
.sectionContent{
    color: grey;
    padding: 20%;
    text-align: center;
}
.logForm{
    color: darkgrey;
}
.formBtn1{
    color: whitesmoke;
    background-color: rgba(10,42,79,0.5);
}
.formBtn2{
    color: darkgrey;
}
.searchResults{
    padding-left: 5%;
    padding-right: 5%;
}
.cardImg{
    width:100%;
    border-radius:2px 2px 0px 0px;
}
#tooltip > .tooltip-inner {
    background-color: rgba(10,42,79,0.8);
    color: whitesmoke;
}
#tooltip > .tooltip-arrow {
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}

.appointmentContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 15px;
    width: auto;
    height: auto;
    justify-content: center;
    color: lightslategrey;
}
.appointmentContainerStuff{
    margin:0;
    min-width: 35em;
    color: dimgrey;
}
.infoContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    justify-content: space-around;
    color: lightslategrey;
}
.searchContainer{
    display: flex;
    margin-left: 2em;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    justify-content: flex-start;
    color: lightslategrey;
}
.infoContainerStuff{
    width: auto;
    height: auto;
    min-width: 25em;
    min-height: 20em;
    color: dimgrey;
}
.infoBtn{
    position: absolute;
    bottom: 0;
    right: 0;
    color: grey;
    margin: 8px;
}
.searchContainerStuff{
    width: auto;
    height: auto;
    min-width: 25em;
    min-height: 10em;
    color: dimgrey;
}

.docSidebar{
    width: 20em;
    height: 100%;
    min-height: 28em;
    color: rgba(40,48,51, 1);  /* Our Black? */
    background-color: rgba(247,247,247,1);
    margin: 20px;
    padding: 10px;
    float: right;
}
.clickableATag:hover{
    cursor: pointer;
}
#video_overlays {
    position: absolute;
    float:left;
    width: 100%;
    height: inherit;
    background-color:rgba(10,42,79,0.3);
}
#background-video{
    position: absolute;
}
.vidContainer{
    display: flex;
    background-color:rgba(10,42,79,0.3);
    margin: 0;
    padding: 0;
    align-items: center;
    height: 98vh;
}
.tab ul > li.active > a,
.tab ul > li.active > a:hover,
.tab ul > li.active > a:focus {
    background-color: rgba(10,42,79,0.1);
}
.smokeDiv *{
    background-color: whitesmoke;
}
.servicesBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.servicesBox div{
    width: auto;
    min-width: 40vw;
    height: auto;
    padding: 5px;
}
.btnList{
    background:none!important;
    color:rgba(10,42,79,0.8);
    border:none;
    padding:0!important;
    font: inherit;
    cursor: pointer;
}












/*FOR AUTOSUGGEST*/
.react-autosuggest__container {
    position: relative;
}

.react-autosuggest__input {
    width: 15em;
    height: 30px;
    padding: 10px 20px;
    margin-top: 2px;
    /*font-family: Helvetica, sans-serif;*/
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.react-autosuggest__input--focused {
    outline: none;
}

.react-autosuggest__input--open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    /*top: 51px;*/
    width: 15em;
    border: 1px solid #aaa;
    background-color: #fff;
    padding: 5px;
    /*font-family: Helvetica, sans-serif;*/
    font-weight: 300;
    font-size: 16px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 2;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    cursor: pointer;
    padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #ddd;
}

